.wrapper {
    /*width: 80px;*/
    padding: 0 10px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eeeeee;
    color: black;
    font-size: 12px;
    border-radius: 5px;
}