.wrapper {
    display: flex;
    align-items: flex-start;
}

.sidebarBlock {
    flex: 0 0 250px;
    /*background: blue;*/
}

.carListBlock {
    flex: 0 1 100%;
    padding: 10px;
    /*background: green;*/
}

.pagination{}